{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
会员授权商店 -- 查询卡密状态
{% endblock %}
{% block wrapper %}

<div class="page-wrapper" style="min-height: 410px;">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">控制台</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "index" %}">主页</a></li>
                        <li class="breadcrumb-item active">查询卡密状态</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" action="{% url "check_code_page" %}" method="post" novalidate="novalidate">
                                        {% csrf_token %}
                                            {% if warn %}
                                            <div class="form-group">
                                            <div class="alert alert-danger alert-dismissible fade show col-md-12">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <strong>警告！</strong> {{ warn }}
                                            </div>
                                            </div>
                                            {% endif %}
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-currency">卡密<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-currency" name="code" placeholder="请输入你的卡密">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-currency">提示：</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-currency" name="val-currency" placeholder="可能稍慢，请勿关闭！" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">查询</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->

{% endblock wrapper %}