{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
会员授权商店 -- 设定会员 （管理员专用）
{% endblock %}
{% block wrapper %}

<div class="page-wrapper" style="min-height: 410px;">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">控制台</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "index" %}">主页</a></li>
                        <li class="breadcrumb-item active">设定会员（管理员专用）</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" action="{% url "Admin_Post_Vip" %}" method="post" novalidate="novalidate">
                                    {% csrf_token %}
                                            {% if warn %}
                                            <div class="form-group">
                                            <div class="alert alert-danger alert-dismissible fade show col-md-12">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <strong>警告！</strong> {{ warn }}
                                            </div>
                                            </div>
                                            {% endif %}
                                            {% if success %}
                                            <div class="form-group">
                                            <div class="alert alert-primary alert-dismissible fade show col-md-12">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <strong>警告！</strong> {{ success }}
                                            </div>
                                            </div>
                                            {% endif %}
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">会员名称<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-username" name="vip_name" placeholder="请输入会员名称">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-currency">会员价格<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-currency" name="vip_prices" placeholder="请输入会员价格（数字）">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-currency">会员时长<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-currency" name="vip_time" placeholder="以天计算（数字）">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-currency">会员版本号<span class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-currency" name="vip_version" placeholder="仅用于展示" data-text="V1.0">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-currency">提示：</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="val-currency" name="val-currency" placeholder="如需删除，请到管理员后台" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->

{% endblock wrapper %}